body{
    background-image:url('../media/pexels-william-choquette-2641886.jpg' ); 

}
h2{
    color:brown;

    text-align: center;
}
h3{
    color:brown;
    text-align: center;
}
p{
    color:blue;
}


